# Node dependencies
/node_modules
/.pnp
.pnp.js

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and cache
/build
/dist
/.parcel-cache
/.next
out/
*.log

# Environment variables
.env
.env.*
!.env.example  # サンプル環境変数ファイルは残す

# Testing
/coverage
.pytest_cache/

# OS and IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sqlite3
